NEXT_PUBLIC_AUTH_URL=http://localhost:4001
NEXT_PUBLIC_MESSAGING_URL=http://localhost:4002
NEXT_PUBLIC_MEDIA_RTC_URL=http://localhost:4003
NEXT_PUBLIC_STORAGE_URL=http://localhost:4004
NEXT_PUBLIC_MINIO_URL=http://localhost:9000
